{{!-- Recipe Home Page --}}
{{!-- Includes some default recipes --}}
<html lang="en">

<head>
    <title>Recipe Hub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- Stylesheets Linked --}}
    <link rel="stylesheet" type="text/css" href="style2.css" />
    <link rel="stylesheet" type="text/css" href="style3.css" />
    <link rel="icon" type="image/x-icon" href="pictures/ribbon.png" />
</head>

<body>

    <div>
        <header>
            <h1>Recipe Hub</h1>
        </header>
        <nav>
            <a href="/register" style="margin-left:90%">Logout</a>
        </nav>

    </div>
    <div class="wrapper">
        <main>
            <br><br>

            {{!-- First recipe --}}

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="burger.jpg" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h1>Black Bean Burger</h1>
                        <h3>Directions
                            Instructions Checklist</h3>
                        <p></p>
                        Step 1<br>
                        Preheat an outdoor grill for high heat. Lightly oil a sheet of aluminum foil with cooking
                        spray.
                        <br>

                        Step 2<br>
                        Mash black beans in a medium bowl with a fork until thick and pasty.
                        <br>
                        Step 3<br>

                        Finely chop bell pepper, onion, and garlic in a food processor. Stir chopped vegetables into
                        mashed beans.
                        <br>
                        Step 4
                        <br>
                        Stir together egg, chili powder, cumin, and chili sauce in a small bowl. Add to the mashed
                        beans and stir to combine. Mix in bread crumbs until the mixture is sticky and holds
                        together. Divide the mixture into four patties and place on the prepared foil.
                        <br>
                        Step 5
                        <br>
                        Grill on the preheated grill for about 8 minutes on each side.
                        <br>
                        Tips
                        <br>
                        To bake, preheat the oven to 375 degrees F (190 degrees C). Place patties on a lightly
                        greased baking sheet. Bake in the preheated oven for about 10 minutes on each side.

                    </div>
                </div>
            </div>
            <div style="height: 280px;"></div>

            {{!-- Second recipe --}}

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="elvis_sandwich.jpg" alt="Avatar" class="image_size">
                    </div>
                    <div class="flip-card-back">
                        <h1>Elvis Sandwich</h1>
                        <br>
                        <h3>Directions
                            Instructions Checklist</h3>
                        <br>
                        Step 1
                        <br>
                        Spread the peanut butter on one side of one slice of bread. Top with sliced banana, then slices
                        of cooked bacon. Cover with the other slice of bread. Spread butter on the outside of the
                        sandwich.
                        <br>
                        Step 2
                        <br>
                        Heat a skillet over medium heat. Fry the sandwich on each side until golden brown and peanut
                        butter is melted, about 4 minutes total.
                        <br>
                        <br>
                        Nutrition Facts<br>
                        Per Serving: 579 calories; protein 17.4g; carbohydrates 61.8g; fat 32.7g; cholesterol 16.1mg;
                        sodium 608.8mg.
                        <br>

                    </div>
                </div>
            </div>
            <div style="height: 280px;"></div>


            {{!-- Third recipe --}}

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="veggie_biryani.jpg" alt="Avatar" class="image_size">
                    </div>
                    <div class="flip-card-back">
                        <h1>Veggie Biryani</h1>
                        <br>
                        <h3>Directions
                            Instructions Checklist</h3>
                        <br>
                        Step 1
                        <br>
                        Melt ghee in a large Dutch oven over medium heat. Add onion, and cook until softened, about 3
                        minutes. Stir in cumin seed, cinnamon stick, and peppercorns; cook until the spices are
                        fragrant, and the cumin seeds begin to pop, about 3 minutes.
                        <br>
                        Step 2
                        <br>
                        Stir in ginger garlic paste, tomatoes, and 1/2 cup water. Bring to a simmer, and cook until the
                        water has evaporated, about 5 minutes. Stir in peas, carrot, and potato. Season with chicken
                        bouillon, salt, red chile, black pepper, garam masala, and turmeric. Stir well, then cover, and
                        cook for 3 minutes.
                        <br>
                        Step 3
                        <br>
                        Pour in 4 cups water and bring to a boil over high heat. Once boiling, stir in basmati rice,
                        reduce heat to medium, recover, and simmer for 10 minutes. Reduce heat to low and continue to
                        cook until the rice has softened, 10 to 15 minutes more.
                    </div>
                </div>
            </div>
            <div style="height: 280px;"></div>

            {{!-- Fourth recipe --}}

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="vanilla_pudding.jpg" alt="Avatar" class="image_size">
                    </div>
                    <div class="flip-card-back">
                        <h1>Vanilla Pudding</h1>
                        <h3>Directions
                            Instructions Checklist</h3>
                        <br>
                        Step 1
                        <br>
                        In a saucepan, combine the sugar, corn starch and salt. Add milk and cook over medium heat,
                        stirring constantly until mixture thickens. Add vanilla and continue to cook for 2 to 3 minutes.
                        <br>
                        Step 2
                        <br>
                        Pour into individual molds rinsed with cold water; chill until firm and unmold.

                    </div>
                </div>
            </div>
            <div style="height: 280px;"></div>

            {{!-- Link to add your own recipe(webpage) --}}

            <a href="/recipe" style="text-align:center;color:black">
                <h2>Add Your Own...</h2>
            </a>



        </main>
    </div>

</body>

</html>