{{!-- Landing Page Structure --}}
<html lang="en">

<head>
	<title>Recipe Hub</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="style2.css" />
	<link rel="icon" type="image/x-icon" href="pictures/ribbon.png" />
</head>

<body>

	<div>
		<header>
			<h1>Recipe Hub</h1>
		</header>
		{{!-- Linking to other webpages --}}
		<nav>
			{{!-- Register-Login Features Added --}}
			<a href="/register">Register</a>
			<a href="/login">Login</a>
			{{!-- Personal Info --}}
			<a href="https://www.linkedin.com/in/bhuvan-kohli-4916911b7/" target="_blank">Contact</a>
		</nav>
	</div>
	{{!-- basic site image --}}
	<div class="wrapper">
		<main>
			<br><br>
			<div id="homePagebox">
				<div id="burger">
					<img src="burger.jpg"></a>

				</div>
			</div>
		</main>
	</div>

</body>

</html>